<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>qBittorrent (Dark Version)</Name>
    <Version>4.2.0-RC</Version>
    <Title>Dark qBittorrent</Title>
    <Publisher>degreeme</Publisher>
    <StartMenuDir>qBittorrent-dark</StartMenuDir>
    <TargetDir>@ApplicationsDir@/qBittorrent-dark</TargetDir>
</Installer>
